<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

    <div class="row clearfix">

        <div class="section-heading">
            <h3>{{testimonial.tagline}}</h3>
            <h2 class="section-title">{{testimonial.title}}</h2>
        </div>

        <!--User Testimonial-->
        <div *ngFor="let feedback of testimonial.feedbacks"></div>
        <blockquote class="col-3 testimonial classic">
            <img src="../assets/images/user-images/{{feedback.userimage}}" alt="User"/>
            <q>{{feedback.comments}}</q>
            <footer>{{feedback.name}}</footer>
        </blockquote>
        <!-- End of Testimonial-->

    </div>

</aside>